# Org.OpenAPITools.Model.Verification

## Properties

Name | Type | Description | Notes
------------ | ------------- | ------------- | -------------
**Verified** | **bool?** |  | 
**Reason** | **string** |  | 
**Payload** | **string** |  | 
**Signature** | **string** |  | 

[[Back to Model list]](../README.md#documentation-for-models) [[Back to API list]](../README.md#documentation-for-api-endpoints) [[Back to README]](../README.md)

